:root {
    --white-color: #fff;
    --blue-light-color: #0b9bfa;
    --blue-light-color-v2: #50b9ff;
    --gray-color: #7c7b7b;
    --gray-color-dark: #353d4152; 
    --gray-title: #444;
    --gray-border: #333;
    --gray-ligth: #F9F9F9;
}